.heading {
  display: flex;
  justify-content: center;
  color: brown;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  background-color: burlywood;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.list-section {
  max-width: 500px;
  display: flex;
  flex-direction: row;
}

h2 {
  color: brown;
}

p {
  font-weight: bold;
}

.all-list {
  display: flex;
}

.coffee-list {
  border: 1px solid brown;
  border-radius: 15px;
  padding: 10px;
}

.ingredients-list {
  border: 1px solid brown;
  border-radius: 15px;
  padding: 10px;
}

button {
  background-color: brown;
  color: white;
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}
